.del {
  background-color: rgba(226, 24, 24, 0.911);
}
.del:hover {
  border-color: rgb(177, 4, 4);
}

.invoicestyle {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-left: 20rem;
}

.pempty {
    margin-left: 20rem;
  
}